{% extends "base.html" %}
{% load static %}
{% block title %}درباره ما{% endblock title %}
{% block _body_ %}
<main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <section class="page-header-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-7 col-xl-5">
                    <div class="page-header-content">
                        <div class="title-img"><img src="{% static "files/images/photos/about-title.webp" %}" alt="Image"></div>
                        <h2 class="page-header-title">ما برنسی هستیم</h2>
                        <h4 class="page-header-sub-title">بهترین ارائه دهنده لوازم آرایشی</h4>
                        <p class="page-header-desc">ابزار است برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند .</p>
                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-xl-7">
                    <div class="page-header-thumb">
                        <img src="{% static "files/images/photos/about1.webp" %}" width="570" height="669" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Funfact Area Wrapper ==-->
    <section class="funfact-area section-space">
        <div class="container">
            <div class="row mb-n6">
                <div class="col-sm-6 col-lg-4 mb-6">
                    <!--== Start Funfact Item ==-->
                    <div class="funfact-item">
                        <div class="icon">
                            <img src="{% static "files/images/icons/funfact1.webp" %}" width="110" height="110" alt="Icon">
                        </div>
                        <h2 class="funfact-number">5000+</h2>
                        <h6 class="funfact-title">مشتریان</h6>
                    </div>
                    <!--== End Funfact Item ==-->
                </div>
                <div class="col-sm-6 col-lg-4 mb-6">
                    <!--== Start Funfact Item ==-->
                    <div class="funfact-item">
                        <div class="icon">
                            <img src="{% static "files/images/icons/funfact2.webp" %}" width="110" height="110" alt="Icon">
                        </div>
                        <h2 class="funfact-number">250+</h2>
                        <h6 class="funfact-title">پروژه ها</h6>
                    </div>
                    <!--== End Funfact Item ==-->
                </div>
                <div class="col-sm-6 col-lg-4 mb-6">
                    <!--== Start Funfact Item ==-->
                    <div class="funfact-item">
                        <div class="icon">
                            <img src="{% static "files/images/icons/funfact3.webp" %}" width="110" height="110" alt="Icon">
                        </div>
                        <h2 class="funfact-number">1.5میلیون+</h2>
                        <h6 class="funfact-title">درآمد</h6>
                    </div>
                    <!--== End Funfact Item ==-->
                </div>
            </div>
        </div>
    </section>
    <!--== End Funfact Area Wrapper ==-->

    <!--== Start Brand Logo Area Wrapper ==-->
    <div class="section-space">
        <div class="container">
            <div class="swiper brand-logo-slider-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide brand-logo-item">
                        <!--== Start Brand Logo Item ==-->
                        <img src="{% static "files/images/brand-logo/1.webp" %}" width="155" height="110" alt="Image-HasTech">
                        <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide brand-logo-item">
                        <!--== Start Brand Logo Item ==-->
                        <img src="{% static "files/images/brand-logo/2.webp" %}" width="241" height="110" alt="Image-HasTech">
                        <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide brand-logo-item">
                        <!--== Start Brand Logo Item ==-->
                        <img src="{% static "files/images/brand-logo/3.webp" %}" width="147" height="110" alt="Image-HasTech">
                        <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide brand-logo-item">
                        <!--== Start Brand Logo Item ==-->
                        <img src="{% static "files/images/brand-logo/4.webp" %}" width="196" height="110" alt="Image-HasTech">
                        <!--== End Brand Logo Item ==-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Brand Logo Area Wrapper ==-->

    <!--== Start About Area Wrapper ==-->
    <section class="section-space pt-0 mb-n1">
        <div class="container">
            <div class="about-thumb">
                <img src="{% static "files/images/photos/about2.webp" %}" alt="Image">
            </div>
            <div class="about-content">
                <h2 class="title">بهترین ارائه دهنده لوازم آرایشی</h2>
                <p class="desc">ابزار است برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند.برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند درباره چیزی که می‌خرند اطلاعات کامل و واقعی داشته باشند. </p>
            </div>
        </div>
    </section>
    <!--== End About Area Wrapper ==-->

    <!--== Start Feature Area Wrapper ==-->
    <div class="feature-area section-space">
        <div class="container">
            <div class="row mb-n9">
                <div class="col-md-6 col-lg-4 mb-8">
                    <!--== Start Feature Item ==-->
                    <div class="feature-item">
                        <h5 class="title"><img class="icon" src="{% static "files/images/icons/feature1.webp" %}" width="60" height="60" alt="Icon"> تیم پشتیبانی
                        </h5>
                        <p class="desc">برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند درباره چیزی که می‌خرند اطلاعات کامل و واقعی داشته باشند.</p>
                    </div>
                    <!--== End Feature Item ==-->
                </div>
                <div class="col-md-6 col-lg-4 mb-8">
                    <!--== Start Feature Item ==-->
                    <div class="feature-item">
                        <h5 class="title"><img class="icon" src="{% static "files/images/icons/feature2.webp" %}" width="60" height="60" alt="Icon"> گواهینامه</h5>
                        <p class="desc">برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند درباره چیزی که می‌خرند اطلاعات کامل و واقعی داشته باشند.</p>
                    </div>
                    <!--== End Feature Item ==-->
                </div>
                <div class="col-md-6 col-lg-4 mb-8">
                    <!--== Start Feature Item ==-->
                    <div class="feature-item">
                        <h5 class="title"><img class="icon" src="{% static "files/images/icons/feature3.webp" %}" width="60" height="60" alt="Icon"> محصولات طبیعی</h5>
                        <p class="desc">برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند درباره چیزی که می‌خرند اطلاعات کامل و واقعی داشته باشند.</p>
                    </div>
                    <!--== End Feature Item ==-->
                </div>
            </div>
        </div>
    </div>
    <!--== End Feature Area Wrapper ==-->
</main>
{% endblock _body_ %}