{% extends "base.html" %}
{% load static %}
{% block title %}مقایسه محصولات{% endblock title %}
{% block _body_ %}
<main class="main-content">

    <!--== Start Page Header Area Wrapper ==-->
    <nav aria-label="breadcrumb" class="breadcrumb-style1">
        <div class="container">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url "index" %}">صفحه اصلی</a></li>
                <li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
            </ol>
        </div>
    </nav>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Product Area Wrapper ==-->
    <section class="section-space">
        <div class="container">
            <div class="shopping-compare-form table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th class="fz-13">اطلاعات محصول</th>
                        <td>
                            <div class="product-remove">
                                <a href="#/"><i class="fa fa-times"></i>حذف</a>
                            </div>
                            <div class="product-thumb">
                                <a href="{% url "product_detail" %}">
                                    <img src="{% static "files/images/shop/cart1.webp" %}" width="68" height="84" alt="Image-HasTech">
                                </a>
                            </div>
                            <div class="product-name">
                                <h4 class="title"><a href="{% url "product_detail" %}">دمپایی مردانه چرم</a></h4>
                            </div>
                            <a href="{% url "cart" %}" class="btn-cart">به سبد خرید اضافه کنید</a>
                        </td>
                        <td>
                            <div class="product-remove">
                                <a href="#/"><i class="fa fa-times"></i>حذف</a>
                            </div>
                            <div class="product-thumb">
                                <a href="{% url "product_detail" %}">
                                    <img src="{% static "files/images/shop/cart2.webp" %}" width="68" height="84" alt="Image-HasTech">
                                </a>
                            </div>
                            <div class="product-name">
                                <h4 class="title"><a href="{% url "product_detail" %}">کفش مردانه </a></h4>
                            </div>
                            <a href="{% url "cart" %}" class="btn-cart">به سبد خرید اضافه کنید</a>
                        </td>
                        <td>
                            <div class="product-remove">
                                <a href="#/"><i class="fa fa-times"></i>حذف</a>
                            </div>
                            <div class="product-thumb">
                                <a href="{% url "product_detail" %}">
                                    <img src="{% static "files/images/shop/cart3.webp" %}" width="68" height="84" alt="Image-HasTech">
                                </a>
                            </div>
                            <div class="product-name">
                                <h4 class="title"><a href="{% url "product_detail" %}">کفش زنانه رکسپو</a></h4>
                            </div>
                            <a href="{% url "cart" %}" class="btn-cart">به سبد خرید اضافه کنید</a>
                        </td>
                    </tr>

                    <tr>
                        <th>قیمت</th>
                        <td class="price">69.00 تومان</td>
                        <td class="price">69.00 تومان</td>
                        <td class="price">69.00 تومان</td>
                    </tr>

                    <tr>
                        <th>مدل</th>
                        <td class="product-sku">مرجع.جدید </td>
                        <td class="product-sku">مرجع.جدید </td>
                        <td class="product-sku">مرجع.جدید </td>
                    </tr>

                    <tr>
                        <th>شرح</th>
                        <td class="product-desc">برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند درباره چیزی که می‌خرند اطلاعات کامل و واقعی داشته باشند.</td>
                        <td class="product-desc">برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند درباره چیزی که می‌خرند اطلاعات کامل و واقعی داشته باشند.</td>
                        <td class="product-desc">برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند درباره چیزی که می‌خرند اطلاعات کامل و واقعی داشته باشند.</td>
                    </tr>

                    <tr>
                        <th>دسترسی</th>
                        <td><span class="product-stock">در انبار</span></td>
                        <td><span class="product-stock">در انبار</span></td>
                        <td><span class="product-stock">در انبار</span></td>
                    </tr>

                    <tr>
                        <th>وزن</th>
                        <td class="product-weight">10 کیلو</td>
                        <td class="product-weight">10 کیلو</td>
                        <td class="product-weight">10 کیلو</td>
                    </tr>

                    <tr>
                        <th>ابعاد</th>
                        <td class="product-weight">10 سانتیمتر</td>
                        <td class="product-weight">10 سانتیمتر</td>
                        <td class="product-weight">10 سانتیمتر</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!--== End Wishlist Area Wrapper ==-->
    <!--== End Product Area Wrapper ==-->

</main>
{% endblock _body_ %}