{% extends "base.html" %}
{% load static %}
{% block title %}سوالات متداول{% endblock title %}
{% block _body_ %}
<main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <nav aria-label="breadcrumb" class="breadcrumb-style1">
        <div class="container">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url "index" %}">صفحه اصلی</a></li>
                <li class="breadcrumb-item active" aria-current="page">سوالات متداول</li>
            </ol>
        </div>
    </nav>

    <!--== Start Faq Area Wrapper ==-->
    <section class="faq-area">
        <div class="container">
            <div class="row flex-xl-row-reverse">
                <div class="col-lg-6 col-xl-7">
                    <div class="faq-thumb">
                        <img src="{% static "files/images/photos/faq-home.webp" %}" width="601" height="368" alt="Image">
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5">
                    <div class="faq-content">
                        <div class="faq-text-img"><img src="{% static "files/images/photos/faq.webp" %}" width="199" height="169" alt="Image"></div>
                        <h2 class="faq-title">سوالات متداول</h2>
                        <div class="faq-line"></div>
                        <p class="faq-desc">بعد از پرایمر نوبت زدن کرم پودر روی صورت است. امروزه انواع مختلف خرید کرم‌ پودر با برندهای متفاوتی برای هر نوع پوستی، در بازار یافت می‌شود.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="accordion" id="FaqAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading1">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    برخی پرایمرها حتی اگر به تنهایی هم استفاده شوند، می‌توانند ظاهری جذاب‌ و یک‌دست به پوست صورت شما بدهد ؟
                                </button>
                            </h2>
                            <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#FaqAccordion">
                                <div class="accordion-body">
                                    <p>به شما توصیه می‌کنیم اگر کرم پودر روی صورت شما به خوبی نمی‌خوابد و بعد از آرایش متوجه می‌شوید پوستتان پوسته پوسته شده است، حتما قبل از زدن کرم‌پودر از پرایمر استفاده کنید. البته لازم است بدانید که بهترین مارک های پرایمر، قیمت بالایی دارند اما به این فکر کنید که برای همیشه دیگر نگران دفرمه شدن آرایش خود نیستید.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        پودر بیک را با یک اسفنج آرایشی یا با یک براش روی نقاط گفته شده بگذارید ؟
                                </button>
                            </h2>
                            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#FaqAccordion">
                                <div class="accordion-body">
                                    <p>چند سالیست که پوست برنزه علاقه مندان زیادی پیدا کرده و اغلب خانم‌ها به خصوص در فصل تابستان ترجیح می‌دهند پوست خود را تیره آرایش کنند. پودرهای برنزه کننده روشی خوب و بی دردسر به جای استفاده از شیوه‌های سخت و پر از زحمت برنزه کردن پوست هستند. با استفاده از پودرهای برنزه، شما می‌توانید هر زمان که دلتان برای رنگ پوستتان خودتان تنگ شد، این پودر را از روی صورت بشویید و دوباره به رنگ پوست خود برسید.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    اگر می‌خواهید از برنزرها استفاده کنید باید آن را بعد از فاندیشن (کرم پودر) و کانسیلر روی پوست بزنید ؟
                                </button>
                            </h2>
                            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#FaqAccordion">
                                <div class="accordion-body">
                                    <p>در تکنیک کانتورینگ هنگام میکاپ، قسمت هایی از صورت که میخواهیم کوچکتر به نظر برسند (مانند تیغه بینی) را تیره کرده و نقاط قوت صورت را روشن‌تر می‌کنیم. در حقیقت با این کار خطای دید ایجاد می‌شود و نقاظی از صورت عمق می‌گیرند.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    پودر بیک را با یک اسفنج آرایشی یا با یک براش روی نقاط گفته شده بگذارید ؟
                                </button>
                            </h2>
                            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#FaqAccordion">
                                <div class="accordion-body">
                                    <p>اگر دوست دارید قسمتی از صورت شما بیشتر مورد توجه بینندگان قرار بگیرد، از روشنایی مختصری در آن قسمت از صورت خود استفاده ‌کنید. شما این کار را می‌توانید با محصولی محبوب به نام هایلایتر انجام دهید. هایلایتر در دو نوع مایع و پودری وجود دارد. هایلایترها موادی براق هستند که معمولا روی استخوان گونه، وسط و بالای لب، گوشه داخلی چشم و نوک بینی زده می‌شوند. هایلایترها لوازم آرایشی جذاب برای فصل گرما هستند.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    هایلایتر باعث می‌شود قسمتی از صورت شما براق‌تر شده ؟
                                </button>
                            </h2>
                            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#FaqAccordion">
                                <div class="accordion-body">
                                    <p>رژگونه‌ها معمولا به شکل مایع، کرمی یا پودری در بازار برای فروش موجود هستند اما در میان آن‌ها رژگونه پودری رایج‌ترین نوع مورد استفاده خانم‌ها است. رژگونه صورت را بشاش نشان می‌دهد و اگر برای کسانی که سن بالا دارند به درستی استفاده شود باعث جوان‌تر دیده شدن صورت آنها می‌شود.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading6">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                    قبل از زدن سایه، روی کانسیلر را با پودر فیکس بپوشانید ؟
                                </button>
                            </h2>
                            <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#FaqAccordion">
                                <div class="accordion-body">
                                    <p>این محصول آرایشی به طور ویژه برای اطراف چشم‌ها طراحی و تولید شده، به پلک‌ها رنگ یکنواختی می‌دهد و چربی پشت پلک را کاهش می‌دهد. به جای خرید پرایمر چشم می‌توانید کانسیلر خود را جایگزین این کار کنید. مقداری از کانسیلر را پشت پلک زده و خوب پخش کنید. قبل از زدن سایه، روی کانسیلر را با پودر فیکس بپوشانید.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading7">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                    هر شخصی با توجه به سلیقه، مهارت و نیاز خود می‌تواند یکی از انواع خط چشم را برای خود انتخاب کند ؟
                                </button>
                            </h2>
                            <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#FaqAccordion">
                                <div class="accordion-body">
                                    <p>سایه چشم یکی از لوازم آرایشی است که به صورت پودر رنگی یا کرم مانند بوده و برای حالت دهی و برجسته کردن برخی نواحی چشم، پشت پلک‌ها و زیر ابرو مورد استفاده قرار می‌گیرد. به کمک سایه چشم می‌توان، زیبایی چشم‌ها را چند برابر کرد و گیرایی چشم‌ها را چندین برابر کرد.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading8">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                    چشم‌ها در زیبایی صورت نقش مهمی دارند. در زمان میکاپ صورت باید به نحوه آرایش چشم‌ها دقت زیادی شود ؟
                                </button>
                            </h2>
                            <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#FaqAccordion">
                                <div class="accordion-body">
                                    <p>سایه چشم در رنگ‌های متنوعی وجود دارد و به کمک آن می‌توان به چشم‌ها عمق و بعد داد. همچنین با استفاده از سایه امکان درشت کردن چشمان ریز وجود دارد فقط نیازمند کمی مهارت در زمینه آرایشگری است.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Faq Area Wrapper ==-->
</main>
{% endblock _body_ %}