{% extends "base.html" %}
{% load static %}
{% block title %}ورود و ثبت نام{% endblock title %}
{% block _body_ %}
<main class="main-content">

    <!--== Start Page Header Area Wrapper ==-->
    <section class="page-header-area pt-10 pb-9" data-bg-color="#FFF3DA">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="page-header-st3-content text-center text-md-start">
                        <ol class="breadcrumb justify-content-center justify-content-md-start ">
                            <li class="breadcrumb-item"><a class="text-dark" href="{% url "index" %}">صفحه اصلی</a></li>
                            <li class="breadcrumb-item active text-dark" aria-current="page">حساب کاربری</li>
                        </ol>
                        <h2 class="page-header-title">حساب کاربری</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Account Area Wrapper ==-->
    <section class="section-space">
        <div class="container">
            <div class="row mb-n8">
                <div class="col-lg-6 mb-8">
                    <!--== Start Login Area Wrapper ==-->
                    <div class="my-account-item-wrap">
                        <h3 class="title">ورود</h3>
                        <div class="my-account-form">
                            <form action="{% url "" %}" method="GET">
                                {% csrf_token %}
                                <div class="form-group mb-6">
                                    {{ form.phone.errors }}
                                    <label name="phone" for="login_username">شماره تلفن<sup>*</sup></label>
                                    <input name="phone" type="text" id="login_username">
                                </div>

                                <div class="form-group d-flex align-items-center mb-14">
                                    <button type="submit" class="btn">ورود</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--== End Login Area Wrapper ==-->
                </div>
            </div>
        </div>
    </section>
    <!--== End Account Area Wrapper ==-->
</main>
{% endblock _body_ %}