{% extends "base.html" %}
{% load static %}
{% block title %}جزئیات بلاگ{% endblock title %}
{% block _body_ %}
<main class="main-content">

    <!--== Start Page Header Area Wrapper ==-->
    <nav aria-label="breadcrumb" class="breadcrumb-style1">
        <div class="container">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url "index" %}">صفحه اصلی</a></li>
                <li class="breadcrumb-item active" aria-current="page">جزئیات وبلاگ</li>
            </ol>
        </div>
    </nav>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Blog Detail Area Wrapper ==-->
    <section class="section-space pb-0">
        <div class="container">
            <div class="blog-detail">
                <h3 class="blog-detail-title">ابزار است برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند </h3>
                <div class="blog-detail-category">
                    <a class="category" href="{% url "blog" %}">زیبایی</a>
                    <a class="category" data-bg-color="#957AFF" href="{% url "blog" %}">روش</a>
                </div>
                <img class="blog-detail-img mb-7 mb-lg-10" src="{% static "files/images/blog/blog-detail1.webp" %}" width="1170" height="1012" alt="Image">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-7">
                                <ul class="blog-detail-meta">
                                    <li class="meta-admin"><img src="{% static "files/images/blog/admin.webp" %}" alt="Image"> توماس آلوا ادیسون</li>
                                    <li>آبان ، 08 1402</li>
                                </ul>
                            </div>
                            <div class="col-md-5">
                                <div class="blog-detail-social">
                                    <span>اشتراک گذاری:</span>
                                    <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
                                    <a href="https://twitter.com/" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                                </div>
                            </div>
                        </div>
                        <p class="desc mt-4 mt-lg-7">لوازم آرایش شامل کرم‌های محافظت‌کننده پوست، لوسیون‌ها (کرم‌های مایع)، پودرها، عطرها، رژ لب، لاک ناخن، مواد آرایشی چشم و صورت، فر مو، لنزهای رنگی، رنگ مو، ژل و افشانه مو، دئودورانت‌ها (ضد بو)، محصولات مربوط به نوزاد، روغن شستشو، کف وان (مایع ویژه وان)، نمک شستشو، روغن‌ها و دیگر انواع محصولات هستند.در میان خانم‌ها کمتر کسی را می‌توان یافت که به لوازم آرایشی علاقه‌ای نداشته باشد. لوازم آرایش امروزه بسیار گسترده شده‌اند و مانند گذشته به یک کرم و رژلب ختم نمی‌شود. برای داشتن یک آرایش بدون ‌نقص لازم است با هر یک از لوازم آرایشی، به صورت مختصر آشنایی داشته باشید. این آشنایی با لوازم آرایش علاوه بر کمک به شما در داشتن آرایشی زیباتر، از نظر اقتصادی هم کمک کننده خواهد بود. چون قیمت لوازم آرایش با کیفیت و اصل مقداری بالاست بهتر است ابتدا با کاربرد انواع لوازم آرایشی آشنا شوید و بعد با توجه به نیازتان لیستی از لوازم را تهیه کرده و خریداری کنید. در ادامه برای آشنایی با لوازم آرایش و نحوه استفاده هر یک از آن‌ها با مو تن رو همراه باشید.</p>
                        <p class="desc mb-6 mb-lg-10">لوازم آرایش شامل کرم‌های محافظت‌کننده پوست، لوسیون‌ها (کرم‌های مایع)، پودرها، عطرها، رژ لب، لاک ناخن، مواد آرایشی چشم و صورت، فر مو، لنزهای رنگی، رنگ مو، ژل و افشانه مو، دئودورانت‌ها (ضد بو)، محصولات مربوط به نوزاد، روغن شستشو، کف وان (مایع ویژه وان)، نمک شستشو، روغن‌ها و دیگر انواع محصولات هستند.</p>
                    </div>
                </div>
                <img class="blog-detail-img" src="{% static "files/images/blog/blog-detail2.webp" %}" width="1170" height="700" alt="Image">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <p class="desc mt-6 mt-lg-10">محصولات آرایشی انواع مختلفی وجود دارند. از مهم‌ترین لوازم آرایشی می‌توان به لوازم آرایش صورت، چشم، ابروها و لب اشاره کرد. در ادامه این متن قصد داریم شما خوانندگان عزیز را با انواع گوناگون لوازم آرایشی و کاربرد آن‌ها آشنا کنیم. اگر تازه عروس هستید و می‌خواهید لیست خرید لوازم آرایشی عروس را تهیه کنید این مطلب خیلی به کارتان می‌آید پس با ما تا پایان این مقاله همراه باشید.</p>
                        <ul class="blog-detail-list">
                            <li>• بعد از پرایمر نوبت زدن کرم پودر روی صورت است..</li>
                            <li>• کانسیلر یکی از لوازم آرایشی است که تقریبا به تازگی وارد بازار شده</li>
                            <li>• این ماده آرایشی برای پوشش‌ دهی لک‌ها</li>
                            <li>• علاوه بر این می‌توان از کانسیلر برای روشن‌تر کردن </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <blockquote class="blog-detail-blockquote mt-6 mt-lg-10 mb-6 mb-lg-10">
                            <p class="desc">برای آنکه آرایشتان زیبا و طبیعی جلوه کند به شما توصیه می‌کنیم کرم پودرتان را متناسب با رنگ پوست خود انتخاب کنید. برای این کار مقداری از کرم پودر را روی خط فک بزنید تا با رنگ صورت و گردن شما هماهنگ باشد. کرم را حتما با استفاده از یک اسفنج یا براش روی پوست صورت خود پخش کنید چون با استفاده از این وسایل، کرم خیلی یکنواخت و بدون نقص روی پوست پخش می‌گردد. البته پیش از استفاده از اسفنج یا براش مطمئن شوید که کاملا تمیز هستند.</p>
                            <span class="user-name">توسط مومن د توماس</span>
                            <img class="quote-icon" src="{% static "files/images/icons/quote1.webp" %}" width="84" height="60" alt="Icon">
                        </blockquote>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <p class="desc mb-6 mb-lg-10">برخی پرایمرها حتی اگر به تنهایی هم استفاده شوند، می‌توانند ظاهری جذاب‌ و یک‌دست به پوست صورت شما بدهد. این مسئله بیشتر به درد کسانی می‌خورد که اهل آرایش‌های غلیظ نیستند و فقط تمایل دارند پوست شفاف و یکدست داشته باشند.بعد از پرایمر نوبت زدن کرم پودر روی صورت است. امروزه انواع مختلف خرید کرم‌ پودر با برندهای متفاوتی برای هر نوع پوستی، در بازار یافت می‌شود.</p>
                        <img class="blog-detail-img" src="{% static "files/images/blog/blog-detail3.webp" %}" width="1070" height="340" alt="Image">
                    </div>
                </div>
            </div>

            <div class="section-space pb-0">
                <!--== Start Product Category Item ==-->
                <a href="{% url "product" %}" class="product-banner-item">
                    <img src="{% static "files/images/shop/banner/9.webp" %}" width="1170" height="200" alt="Image-HasTech">
                </a>
                <!--== End Product Category Item ==-->
            </div>

            <div class="row justify-content-between align-items-center pt-10 mt-4 section-space">
                <div class="col-sm-6">
                    <a href="{% url "blog_detail" %}" class="blog-next-previous">
                        <div class="thumb">
                            <span class="arrow">قبلی</span>
                            <img src="{% static "files/images/blog/next-previous1.webp" %}" width="93" height="80" alt="Image">
                        </div>
                        <div class="content">
                            <h4 class="title">برخی پرایمرها حتی اگر به تنهایی هم استفاده شوند، می‌توانند ظاهری جذاب‌  بدهد. </h4>
                            <h5 class="post-date">آبان ، 08 1402</h5>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="{% url "blog_detail" %}" class="blog-next-previous blog-next">
                        <div class="thumb">
                            <span class="arrow">بعد</span>
                            <img src="{% static "files/images/blog/next-previous2.webp" %}" width="93" height="80" alt="Image">
                        </div>
                        <div class="content">
                            <h4 class="title">برخی پرایمرها حتی اگر به تنهایی هم استفاده شوند، می‌توانند ظاهری جذاب‌  بدهد. </h4>
                            <h5 class="post-date">آبان ، 08 1402</h5>
                        </div>
                    </a>
                </div>
            </div>

            <div class="blog-comment-form-wrap">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <h4 class="blog-comment-form-title">اظهار نظر</h4>
                        <div class="blog-comment-form-info">
                            <div class="blog-comment-form-social">
                                <span>اشتراک گذاری:</span>
                                <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
                                <a href="https://twitter.com/" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                            </div>
                            <select class="blog-comment-form-select">
                                <option selected>مرتب سازی بر اساس جدیدترین</option>
                                <option value="1">بهترین</option>
                                <option value="2">جدیدترین</option>
                                <option value="3">قدیمی ترین</option>
                            </select>
                        </div>
                        <div class="blog-comment-form">
                            <img class="blog-comment-img" src="{% static "files/images/blog/form1.webp" %}" width="110" height="110" alt="Image">
                            <textarea class="blog-comment-control" placeholder="نظر خود را تایپ کنید"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Blog Detail Area Wrapper ==-->

    <!--== Start Blog Area Wrapper ==-->
    <section class="section-space">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">پست های دیگر</h2>
                        <p>برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند </p>
                    </div>
                </div>
            </div>
            <div class="row mb-n9">
                <div class="col-sm-6 col-lg-4 mb-8">
                    <!--== Start Blog Item ==-->
                    <div class="post-item">
                        <a href="{% url "blog_detail" %}" class="thumb">
                            <img src="{% static "files/images/blog/1.webp" %}" width="370" height="320" alt="Image-HasTech">
                        </a>
                        <div class="content">
                            <a class="post-category" href="{% url "blog" %}">زیبایی</a>
                            <h4 class="title"><a href="{% url "blog_detail" %}">مزایای هات استون اسپا برای سلامتی و زندگی شما.</a></h4>
                            <ul class="meta">
                                <li class="author-info"><span>توسط:</span> <a href="{% url "blog" %}">توماس دی مومن</a></li>
                                <li class="post-date">آبان ، 08 1402</li>
                            </ul>
                        </div>
                    </div>
                    <!--== End Blog Item ==-->
                </div>
                <div class="col-sm-6 col-lg-4 mb-8">
                    <!--== Start Blog Item ==-->
                    <div class="post-item">
                        <a href="{% url "blog_detail" %}" class="thumb">
                            <img src="{% static "files/images/blog/2.webp" %}" width="370" height="320" alt="Image-HasTech">
                        </a>
                        <div class="content">
                            <a class="post-category post-category-two" data-bg-color="#A49CFF" href="{% url "blog" %}">زیبایی</a>
                            <h4 class="title"><a href="{% url "blog_detail" %}">مزایای هات استون اسپا برای سلامتی و زندگی شما.</a></h4>
                            <ul class="meta">
                                <li class="author-info"><span>توسط:</span> <a href="{% url "blog" %}">توماس دی مومن</a></li>
                                <li class="post-date">آبان ، 08 1402</li>
                            </ul>
                        </div>
                    </div>
                    <!--== End Blog Item ==-->
                </div>
                <div class="col-sm-6 col-lg-4 mb-8">
                    <!--== Start Blog Item ==-->
                    <div class="post-item">
                        <a href="{% url "blog_detail" %}" class="thumb">
                            <img src="{% static "files/images/blog/3.webp" %}" width="370" height="320" alt="Image-HasTech">
                        </a>
                        <div class="content">
                            <a class="post-category post-category-three" data-bg-color="#9CDBFF" href="{% url "blog" %}">زیبایی</a>
                            <h4 class="title"><a href="{% url "blog_detail" %}">مزایای هات استون اسپا برای سلامتی و زندگی شما.</a></h4>
                            <ul class="meta">
                                <li class="author-info"><span>توسط:</span> <a href="{% url "blog" %}">توماس دی مومن</a></li>
                                <li class="post-date">آبان ، 08 1402</li>
                            </ul>
                        </div>
                    </div>
                    <!--== End Blog Item ==-->
                </div>
            </div>
        </div>
    </section>
    <!--== End Blog Area Wrapper ==-->

    <!--== Start News Letter Area Wrapper ==-->
    <section class="section-space pt-0">
        <div class="container">
            <div class="newsletter-content-wrap" data-bg-img="{% static "files/images/photos/bg1.webp" %}">
                <div class="newsletter-content">
                    <div class="section-title mb-0">
                        <h2 class="title">به ما بپیوند</h2>
                        <p>برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند درباره چیزی که می‌خرند اطلاعات کامل و واقعی داشته باشند</p>
                    </div>
                </div>
                <div class="newsletter-form">
                    <form>
                        <input type="email" class="form-control" placeholder="ایمیل خود را وارد کنید">
                        <button class="btn-submit" type="submit"><i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--== End News Letter Area Wrapper ==-->

</main>
{% endblock _body_ %}