{% extends "base.html" %}
{% load static %}
{% block title %}فیلتر بلاگ{% endblock title %}
{% block _body_ %}
<main class="main-content">

    <!--== Start Page Header Area Wrapper ==-->
    <nav aria-label="breadcrumb" class="breadcrumb-style1 mb-10">
        <div class="container">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url "index" %}">صفحه اصلی</a></li>
                <li class="breadcrumb-item active" aria-current="page">وبلاگ</li>
            </ol>
        </div>
    </nav>

    <!--== Start Blog Area Wrapper ==-->
    <section class="section-space pt-0">
        <div class="container">
            <div class="row justify-content-between flex-xl-row-reverse">
                <div class="col-xl-8">
                    <div class="row mb-n9">
                        {% for form in forms %}
                            <div class="col-sm-6 col-lg-4 mb-8">
                                <!--== Start Blog Item ==-->
                                <div class="post-item">
                                    <a href="{{ form.get_absolute_url }}" class="thumb">
                                        <img src="{{ form.image.url }}" width="370" height="320" alt="Image-HasTech">
                                    </a>
                                    <div class="content">
        
                                        {% for category in form.category.all %}
                                        <a class="post-category" href="{{ form.get_absolute_url }}">{{ category.title }}</a>
                                        {% endfor %}
                                        <h4 class="title"><a href="{{ form.get_absolute_url }}">{{ form.title }}</a></h4>
                                        <ul class="meta">
                                            <li class="author-info"><span>توسط:</span> <a href="{% url "blog" %}">{{ form.author }}</a></li>
                                            <li class="post-date">{{ form.created|date:'Y/m/d' }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--== End Blog Item ==-->
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="blog-sidebar-widget">
                        <div class="blog-search-widget">
                            <form action="{% url "blog_filter" %}" method="POST">
                                {% csrf_token %}
                                <input name="search_query" type="search" placeholder="اینجا جستجو کنید">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="blog-widget mb-0">
                            <h4 class="blog-widget-title">برچسب های محبوب</h4>
                            <ul class="blog-widget-tags">
                                {% for categorie in categories %}
                                    <li><a href="{% url "blog" %}">{{ categorie.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Blog Area Wrapper ==-->
</main>
{% endblock _body_ %}