{% extends "base.html" %}
{% load static %}
{% load jalali_tags %}
{% block title %}جزئیات بلاگ{% endblock title %}
{% block _body_ %}
<main class="main-content">

    <!--== Start Page Header Area Wrapper ==-->
    <nav aria-label="breadcrumb" class="breadcrumb-style1">
        <div class="container">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url "index" %}">صفحه اصلی</a></li>
                <li class="breadcrumb-item active" aria-current="page">جزئیات وبلاگ</li>
            </ol>
        </div>
    </nav>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Blog Detail Area Wrapper ==-->
    <section class="section-space pb-0">
        <div class="container">
            <div class="blog-detail">
                <h3 class="blog-detail-title">{{ blog.title }}</h3>
                <div class="blog-detail-category">
                    {% for category in blog.category.all %}
                        <a class="category" data-bg-color="#957AFF" href="">{{ category.title }}</a>
                    {% endfor %}
                </div>
                <img class="blog-detail-img mb-7 mb-lg-10" src="{{ blog.image.url }}" width="1170" height="1012" alt="Image">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-7">
                                <ul class="blog-detail-meta">
                                    <li class="meta-admin">{{ blog.author }}</li>
                                    <li>{{ blog.created|to_jalali:'%Y/%m/%d' }}</li>
                                </ul>
                            </div>
                            <div class="col-md-5">
                                <div class="blog-detail-social">
                                    <span>اشتراک گذاری:</span>
                                    <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
                                    <a href="https://twitter.com/" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                                </div>
                            </div>
                        </div>
                        <p class="desc mt-4 mt-lg-7">{{ blog.body|linebreaks|safe }}</p>
                    </div>
                </div>
            </div>

            <div class="section-space pb-0">
                <!--== Start Product Category Item ==-->
                <a href="{% url "product" %}" class="product-banner-item">
                    <img src="{% static "files/images/shop/banner/9.webp" %}" width="1170" height="200" alt="Image-HasTech">
                </a>
                <!--== End Product Category Item ==-->
            </div>

            <div class="row justify-content-between align-items-center pt-10 mt-4 section-space">
                <div class="col-sm-6">
                    <a href="{{ form.get_absolute_url }}" class="blog-next-previous">
                        <div class="thumb">
                            <span class="arrow">قبلی</span>
                            <img src="{% static "files/images/blog/next-previous1.webp" %}" width="93" height="80" alt="Image">
                        </div>
                        <div class="content">
                            <h4 class="title">برخی پرایمرها حتی اگر به تنهایی هم استفاده شوند، می‌توانند ظاهری جذاب‌  بدهد. </h4>
                            <h5 class="post-date">آبان ، 08 1402</h5>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="{{ form.get_absolute_url }}" class="blog-next-previous blog-next">
                        <div class="thumb">
                            <span class="arrow">بعد</span>
                            <img src="{% static "files/images/blog/next-previous2.webp" %}" width="93" height="80" alt="Image">
                        </div>
                        <div class="content">
                            <h4 class="title">برخی پرایمرها حتی اگر به تنهایی هم استفاده شوند، می‌توانند ظاهری جذاب‌  بدهد. </h4>
                            <h5 class="post-date">آبان ، 08 1402</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--== End Blog Detail Area Wrapper ==-->

    <!--== Start Blog Area Wrapper ==-->
    <section class="section-space">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">پست های جدید</h2>
                        <p>برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند </p>
                    </div>
                </div>
            </div>
            <div class="row mb-n9">
                {% for form in others %}
                <div class="col-sm-6 col-lg-4 mb-8">
                    <!--== Start Blog Item ==-->
                    <div class="post-item">
                        <a href="{{ form.get_absolute_url }}" class="thumb">
                            <img src="{{ form.image.url }}" width="370" height="320" alt="Image-HasTech">
                        </a>
                        <div class="content">
                            {% for category in form.category.all %}
                            <a class="post-category" href="{{ form.get_absolute_url }}">{{ category.title }}</a>
                            {% endfor %}
                            <h4 class="title"><a href="{{ form.get_absolute_url }}">{{ form.title }}</a></h4>
                            <ul class="meta">
                                <li class="author-info"><span>توسط:</span> <a href="">{{ form.author }}</a></li>
                                <li class="post-date">{{ form.created|to_jalali:'%Y/%m/%d' }}<li>
                            </ul>
                        </div>
                    </div>
                    <!--== End Blog Item ==-->
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--== End Blog Area Wrapper ==-->
</main>
{% endblock _body_ %}