{% extends "base.html" %}
{% load static %}
{% block title %}فیلتر بلاگ{% endblock title %}
{% block _body_ %}
<main class="main-content">

    <!--== Start Page Header Area Wrapper ==-->
    <nav aria-label="breadcrumb" class="breadcrumb-style1 mb-10">
        <div class="container">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url "index" %}">صفحه اصلی</a></li>
                <li class="breadcrumb-item active" aria-current="page">وبلاگ</li>
            </ol>
        </div>
    </nav>

    <!--== Start Blog Area Wrapper ==-->
    <section class="section-space pt-0">
        <div class="container">
            <div class="row justify-content-between flex-xl-row-reverse">
                <div class="col-xl-8">
                    <div class="row mb-n9">
                        {% for form in forms %}
                            <div class="col-sm-6 col-lg-4 mb-8">
                                <!--== Start Blog Item ==-->
                                <div class="post-item">
                                    <a href="{{ form.get_absolute_url }}" class="thumb">
                                        <img src="{{ form.image.url }}" width="370" height="320" alt="Image-HasTech">
                                    </a>
                                    <div class="content">
        
                                        <a class="post-category" href="{{ form.get_absolute_url }}">{{ form.category.title }}</a>
                                        <h4 class="title"><a href="{{ form.get_absolute_url }}">{{ form.title }}</a></h4>
                                        <ul class="meta">
                                            <li class="author-info"><span>توسط:</span> <a href="{% url "blog" %}">{{ form.author }}</a></li>
                                            <li class="post-date">{{ form.created|date:'Y / m / d' }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--== End Blog Item ==-->
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="blog-sidebar-widget">
                        <div class="blog-search-widget">
                            <form action="#">
                                <input type="search" placeholder="اینجا جستجو کنید">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="blog-widget">
                            <h4 class="blog-widget-title">دسته بندی های محبوب</h4>
                            <ul class="blog-widget-category">
                                <li><a href="{% url "blog" %}">تجهیزات جانبی <span>(6)</span></a></li>
                                <li><a href="{% url "blog" %}">کامپیوتر <span>(4)</span></a></li>
                                <li><a href="{% url "blog" %}">کووید 19<span>(2)</span></a></li>
                                <li><a href="{% url "blog" %}">الکترونیک <span>(12)</span></a></li>
                                <li><a href="{% url "blog" %}">مبلمان <span>(9)</span></a></li>
                            </ul>
                        </div>
                        <div class="blog-widget">
                            <h4 class="blog-widget-title">پستهای اخیر</h4>
                            <div class="blog-widget-post">
                                <div class="blog-widget-single-post">
                                    <a href="{{ form.get_absolute_url }}">
                                        <img src="{% static "files/images/blog/s1.webp" %}" width="75" height="78" alt="Images">
                                        <span class="title">مزایای هات استون اسپا برای سلامتی و زندگی شما.</span>
                                    </a>
                                    <span class="date">آبان ، 08 1402</span>
                                </div>
                                <div class="blog-widget-single-post">
                                    <a href="{{ form.get_absolute_url }}">
                                        <img src="{% static "files/images/blog/s2.webp" %}" width="75" height="78" alt="Images">
                                        <span class="title">مزایای هات استون اسپا برای سلامتی و زندگی شما.</span>
                                    </a>
                                    <span class="date">آبان ، 08 1402</span>
                                </div>
                                <div class="blog-widget-single-post">
                                    <a href="{{ form.get_absolute_url }}">
                                        <img src="{% static "files/images/blog/s3.webp" %}" width="75" height="78" alt="Images">
                                        <span class="title">مزایای هات استون اسپا برای سلامتی و زندگی شما.</span>
                                    </a>
                                    <span class="date">آبان ، 08 1402</span>
                                </div>
                            </div>
                        </div>
                        <div class="blog-widget mb-0">
                            <h4 class="blog-widget-title">برچسب های محبوب</h4>
                            <ul class="blog-widget-tags">
                                <li><a href="{% url "blog" %}">زیبایی</a></li>
                                <li><a href="{% url "blog" %}">آرایشگر</a></li>
                                <li><a href="{% url "blog" %}">آرایش</a></li>
                                <li><a href="{% url "blog" %}">مو</a></li>
                                <li><a href="{% url "blog" %}">ناخن</a></li>
                                <li><a href="{% url "blog" %}">مدل مو</a></li>
                                <li><a href="{% url "blog" %}">مراقبت از پوست</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Blog Area Wrapper ==-->

    <!--== Start News Letter Area Wrapper ==-->
    <section class="section-space pt-0">
        <div class="container">
            <div class="newsletter-content-wrap" data-bg-img="files/images/photos/bg1.webp">
                <div class="newsletter-content">
                    <div class="section-title mb-0">
                        <h2 class="title">به ما بپیوند</h2>
                        <p>برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و می‌خواهند درباره چیزی که می‌خرند اطلاعات کامل و واقعی داشته باشند</p>
                    </div>
                </div>
                <div class="newsletter-form">
                    <form>
                        <input type="email" class="form-control" placeholder="ایمیل خود را وارد کنید">
                        <button class="btn-submit" type="submit"><i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--== End News Letter Area Wrapper ==-->

</main>
{% endblock _body_ %}