{% extends "base.html" %}
{% load static %}
{% block title %}جزئیات محصـول{% endblock title %}
{% block _body_ %}
<main class="main-content">

    <!--== Start Page Header Area Wrapper ==-->
    <section class="page-header-area pt-10 pb-9" data-bg-color="#FFF3DA">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="page-header-st3-content text-center text-md-start">
                        <ol class="breadcrumb justify-content-center justify-content-md-start">
                            <br>
                        </ol>
                        <h2 class="page-header-title">جزئیات محصول</h2>
                    </div>
                </div>
                <div class="col-md-7">
                    <h5 class="showing-pagination-results mt-5 mt-md-9 text-center text-md-end">نمایش محصول واحد</h5>
                </div>
            </div>
        </div>
    </section>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Product Details Area Wrapper ==-->
    <section class="section-space">
        <div class="container">
            <div class="row product-details">
                <div class="col-lg-6">
                    <div class="product-details-thumb">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" width="570" height="693" alt="Image">
                        {% endif %}
                        <span class="flag-new">جدید</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-details-content">
                        <h5 class="product-details-collection">مجموعه ممتاز</h5>
                        <h3 class="product-details-title">{{ post.title }}</h3>
                        <div class="product-details-qty-list">
                            <div class="qty-list-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="qtyList1" checked>
                                <label class="form-check-label" for="qtyList1">ارسال از طریق تیپاکس</label>
                            </div>
                            <div class="qty-list-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="qtyList1" checked>
                                <label class="form-check-label" for="qtyList1">ارسال از طریق پست</label>
                            </div>
                        </div>
                        <div class="product-details-action">
                            <h4 class="price">{{ post.price }} تومان</h4>
                            <div class="product-details-cart-wishlist">
                                <button type="button" class="btn-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="fa fa-heart-o"></i></button> 
                                <form action="{% url "cart_add" post.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden">
                                    <div class="product-details-pro-qty">
                                        <div class="pro-qty">
                                            <input name="quantity" type="text" title="Quantity" value="01">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">به سبد خرید اضافه کنید</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="nav product-details-nav" id="product-details-nav-tab" role="tablist">
                        <button class="nav-link" id="specification-tab" data-bs-toggle="tab" data-bs-target="#specification" type="button" role="tab" aria-controls="specification" aria-selected="false">مشخصات</button>
                        <button class="nav-link active" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="true">مرورکنید</button>
                    </div>
                    <div class="tab-content" id="product-details-nav-tabContent">
                        <div class="tab-pane" id="specification" role="tabpanel" aria-labelledby="specification-tab">
                            <ul class="product-details-info-wrap">
                                <li><span>وزن</span>
                                    <p>{{ post.weight }} گرم</p>
                                </li>
                                <li><span>مواد</span>
                                    <p>{{ post.mater }}</p>
                                </li>
                            </ul>

                            <p>{{ post.body }}</p>
                        </div>

                        <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                            {% for comment in comments %}
                            <!--== Start Reviews Content Item ==-->
                            <div class="product-review-item">
                                <div class="product-review-top">
                                    {% comment %} <div class="product-review-thumb">
                                        <img src="{% static "files/images/shop/product-details/comment1.webp" %}" alt="Images">
                                    </div> {% endcomment %}
                                    <div class="product-review-content">
                                        <span class="product-review-name">{{ comment.name }}</span>
                                        <div class="product-review-icon">
                                            {% if comment.star == '1' %}
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            {% endif %}
                                            {% if comment.star == '2' %}
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            {% endif %}
                                            {% if comment.star == '3' %}
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            {% endif %}
                                            {% if comment.star == '4' %}
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            {% endif %}
                                            {% if comment.star == '5' %}
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <p class="desc">{{ comment.message }}</p>
                            </div>
                            <!--== End Reviews Content Item ==-->
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="product-reviews-form-wrap">
                        <h4 class="product-form-title">بازپخش بگذارید</h4>
                        <div class="product-reviews-form">
                            <form action="" method="POST">
                                <div class="form-input-item">
                                    <textarea name="message" class="form-control" placeholder="بازخورد خود را وارد کنید"></textarea>
                                </div>
                                <div class="form-input-item">
                                    <input name="name" class="form-control" type="text" placeholder="نام و نام خانوادگی">
                                </div>
                                <div class="form-input-item">
                                    <input name="email" class="form-control" type="email" placeholder="آدرس ایمیل (اختیاری)">
                                </div>
                                <div class="form-input-item">
                                    <div class="form-ratings-item">
                                        <select name="star" id="product-review-form-rating-select" class="select-ratings">
                                            <option value="1">01</option>
                                            <option value="2">02</option>
                                            <option value="3">03</option>
                                            <option value="4">04</option>
                                            <option value="5">05</option>
                                        </select>
                                        <span class="title">رتبه بندی خود را ارائه دهید</span>
                                        <div class="product-ratingsform-form-wrap">
                                            <div class="product-ratingsform-form-icon">
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div id="product-review-form-rating" class="product-ratingsform-form-icon-fill">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-input-item mb-0">
                                    <button type="submit" class="btn">ارسال</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Product Details Area Wrapper ==-->

    <!--== Start Product Banner Area Wrapper ==-->
    <div class="container">
        <!--== Start Product Category Item ==-->
        <a href="{% url "product" %}" class="product-banner-item">
            <img src="{% static "files/images/shop/banner/7.webp" %}" width="1170" height="240" alt="Image-HasTech">
        </a>
        <!--== End Product Category Item ==-->
    </div>
    <!--== End Product Banner Area Wrapper ==-->

    <!--== Start Product Area Wrapper ==-->
    <section class="section-space">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="title">محصولات مرتبط</h2>
                        <p class="m-0">  برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند </p>
                    </div>
                </div>
            </div>
            <div class="row mb-n10">
                <div class="col-12">
                    <div class="swiper related-product-slide-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide mb-10">
                                <!--== Start Product Item ==-->
                                <div class="product-item product-st2-item">
                                    <div class="product-thumb">
                                        <a class="d-block" href="{{ post.get_absolute_url }}">
                                            <img src="{% static "files/images/shop/8.webp" %}" width="370" height="450" alt="Image-HasTech">
                                        </a>
                                        <span class="flag-new">جدید</span>
                                    </div>
                                    <div class="product-info">
                                        <div class="product-rating">
                                            <div class="rating">
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                            <div class="reviews">150 بررسی</div>
                                        </div>
                                        <h4 class="title"><a href="{{ post.get_absolute_url }}">محتوای قابل خواندن</a></h4>
                                        <div class="prices">
                                            <span class="price">210.00 تومان</span>
                                            <span class="price-old">300.00</span>
                                        </div>
                                        <div class="product-action">
                                            <button type="button" class="product-action-btn action-btn-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                                <span>به سبد خرید اضافه کنید</span>
                                            </button>
                                            <button type="button" class="product-action-btn action-btn-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                                <i class="fa fa-expand"></i>
                                            </button>
                                            <button type="button" class="product-action-btn action-btn-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                                <i class="fa fa-heart-o"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!--== End prPduct Item ==-->
                            </div>
                            <div class="swiper-slide mb-10">
                                <!--== Start Product Item ==-->
                                <div class="product-item product-st2-item">
                                    <div class="product-thumb">
                                        <a class="d-block" href="{{ post.get_absolute_url }}">
                                            <img src="{% static "files/images/shop/7.webp" %}" width="370" height="450" alt="Image-HasTech">
                                        </a>
                                        <span class="flag-new">جدید</span>
                                    </div>
                                    <div class="product-info">
                                        <div class="product-rating">
                                            <div class="rating">
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                            <div class="reviews">150 بررسی</div>
                                        </div>
                                        <h4 class="title"><a href="{{ post.get_absolute_url }}">محتوای قابل خواندن</a></h4>
                                        <div class="prices">
                                            <span class="price">210.00 تومان</span>
                                            <span class="price-old">300.00</span>
                                        </div>
                                        <div class="product-action">
                                            <button type="button" class="product-action-btn action-btn-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                                <span>به سبد خرید اضافه کنید</span>
                                            </button>
                                            <button type="button" class="product-action-btn action-btn-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                                <i class="fa fa-expand"></i>
                                            </button>
                                            <button type="button" class="product-action-btn action-btn-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                                <i class="fa fa-heart-o"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!--== End prPduct Item ==-->
                            </div>
                            <div class="swiper-slide mb-10">
                                <!--== Start Product Item ==-->
                                <div class="product-item product-st2-item">
                                    <div class="product-thumb">
                                        <a class="d-block" href="{{ post.get_absolute_url }}">
                                            <img src="{% static "files/images/shop/5.webp" %}" width="370" height="450" alt="Image-HasTech">
                                        </a>
                                        <span class="flag-new">جدید</span>
                                    </div>
                                    <div class="product-info">
                                        <div class="product-rating">
                                            <div class="rating">
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                            <div class="reviews">150 بررسی</div>
                                        </div>
                                        <h4 class="title"><a href="{{ post.get_absolute_url }}">محتوای قابل خواندن</a></h4>
                                        <div class="prices">
                                            <span class="price">210.00 تومان</span>
                                            <span class="price-old">300.00</span>
                                        </div>
                                        <div class="product-action">
                                            <button type="button" class="product-action-btn action-btn-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                                <span>به سبد خرید اضافه کنید</span>
                                            </button>
                                            <button type="button" class="product-action-btn action-btn-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                                <i class="fa fa-expand"></i>
                                            </button>
                                            <button type="button" class="product-action-btn action-btn-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                                <i class="fa fa-heart-o"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!--== End prPduct Item ==-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Product Area Wrapper ==-->

</main>
{% endblock _body_ %}