{% extends "base.html" %}
{% load static %}
{% block title %}سبد خرید{% endblock title %}
{% block _body_ %}
<main class="main-content">

    <!--== Start Page Header Area Wrapper ==-->
    <nav aria-label="breadcrumb" class="breadcrumb-style1">
        <div class="container">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url "index" %}">صفحه اصلی</a></li>
                <li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
            </ol>
        </div>
    </nav>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Product Area Wrapper ==-->
    <section class="section-space">
        <div class="container">
            <div class="shopping-cart-form table-responsive">
                <form action="#" method="post">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th class="product-remove">&nbsp;</th>
                            <th class="product-thumbnail">&nbsp;</th>
                            <th class="product-name">محصول</th>
                            <th class="product-price">قیمت</th>
                            <th class="product-quantity">تعداد</th>
                            <th class="product-subtotal">جمع</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tbody-item">
                            <td class="product-remove">
                                <a class="remove" href="javascript:void(0)">×</a>
                            </td>
                            <td class="product-thumbnail">
                                <div class="thumb">
                                    <a href="{% url "product_detail" %}">
                                        <img src="{% static "files/images/shop/cart1.webp" %}" width="68" height="84" alt="Image-HasTech">
                                    </a>
                                </div>
                            </td>
                            <td class="product-name">
                                <a class="title" href="{% url "product_detail" %}">پاک کننده صورت و دست</a>
                            </td>
                            <td class="product-price">
                                <span class="price">115.00 تومان</span>
                            </td>
                            <td class="product-quantity">
                                <div class="pro-qty">
                                    <input type="text" class="quantity" title="Quantity" value="1">
                                </div>
                            </td>
                            <td class="product-subtotal">
                                <span class="price">115.00 تومان</span>
                            </td>
                        </tr>
                        <tr class="tbody-item">
                            <td class="product-remove">
                                <a class="remove" href="javascript:void(0)">×</a>
                            </td>
                            <td class="product-thumbnail">
                                <div class="thumb">
                                    <a href="{% url "product_detail" %}">
                                        <img src="{% static "files/images/shop/cart2.webp" %}" width="68" height="84" alt="Image-HasTech">
                                    </a>
                                </div>
                            </td>
                            <td class="product-name">
                                <a class="title" href="{% url "product_detail" %}">پاک کننده دست و صورت مرطوب</a>
                            </td>
                            <td class="product-price">
                                <span class="price">15.00 تومان</span>
                            </td>
                            <td class="product-quantity">
                                <div class="pro-qty">
                                    <input type="text" class="quantity" title="Quantity" value="1">
                                </div>
                            </td>
                            <td class="product-subtotal">
                                <span class="price">15.00 تومان</span>
                            </td>
                        </tr>
                        <tr class="tbody-item">
                            <td class="product-remove">
                                <a class="remove" href="javascript:void(0)">×</a>
                            </td>
                            <td class="product-thumbnail">
                                <div class="thumb">
                                    <a href="{% url "product_detail" %}">
                                        <img src="{% static "files/images/shop/cart3.webp" %}" width="68" height="84" alt="Image-HasTech">
                                    </a>
                                </div>
                            </td>
                            <td class="product-name">
                                <a class="title" href="{% url "product_detail" %}"> ایمپالس دافل صورت مرطوب</a>
                            </td>
                            <td class="product-price">
                                <span class="price">79.00 تومان</span>
                            </td>
                            <td class="product-quantity">
                                <div class="pro-qty">
                                    <input type="text" class="quantity" title="Quantity" value="1">
                                </div>
                            </td>
                            <td class="product-subtotal">
                                <span class="price">79.00 تومان</span>
                            </td>
                        </tr>
                        <tr class="tbody-item-actions">
                            <td colspan="6">
                                <button type="submit" class="btn-update-cart disabled" disabled>ویرایش سبد خرید</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="coupon-wrap">
                        <h4 class="title">تخفیف</h4>
                        <p class="desc">اگر کد تخفیف خود را دارید وارد کنید.</p>
                        <input type="text" class="form-control" placeholder="کد تخفیف">
                        <button type="button" class="btn-coupon">درخواست تخفیف</button>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="cart-totals-wrap">
                        <h2 class="title">مجموع سبد خرید</h2>
                        <table>
                            <tbody>
                            <tr class="cart-subtotal">
                                <th>جمع کل</th>
                                <td>
                                    <span class="amount">499.00 تومان</span>
                                </td>
                            </tr>
                            <tr class="shipping-totals">
                                <th>حمل دریایی</th>
                                <td>
                                    <ul class="shipping-list">
                                        <li class="radio">
                                            <input type="radio" name="shipping" id="radio1" checked>
                                            <label for="radio1">نرخ ثابت:
                                                <span>3.00 تومان</span></label>
                                        </li>
                                        <li class="radio">
                                            <input type="radio" name="shipping" id="radio2">
                                            <label for="radio2">ارسال رایگان</label>
                                        </li>
                                        <li class="radio">
                                            <input type="radio" name="shipping" id="radio3">
                                            <label for="radio3">پیکاپ محلی</label>
                                        </li>
                                    </ul>
                                    <p class="destination">حمل و نقل به
                                        <strong> ایران</strong>.</p>
                                    <a href="javascript:void(0)" class="btn-shipping-address">تغییر آدرس</a>
                                </td>
                            </tr>
                            <tr class="order-total">
                                <th>جمع</th>
                                <td>
                                    <span class="amount">54.00 تومان</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="text-end">
                            <a href="{% url "checkout" %}" class="checkout-button">برای تسویه حساب اقدام کنید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Product Area Wrapper ==-->

</main>
{% endblock _body_ %}