{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}سبد خرید{% endblock title %}
{% block _body_ %}
<main class="main-content">

    <!--== Start Page Header Area Wrapper ==-->
    <nav aria-label="breadcrumb" class="breadcrumb-style1">
        <div class="container">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url "index" %}">صفحه اصلی</a></li>
                <li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
            </ol>
        </div>
    </nav>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Product Area Wrapper ==-->
    <section class="section-space">
        <div class="container">
            <div class="shopping-cart-form table-responsive">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th class="product-remove">&nbsp;</th>
                        <th class="product-thumbnail">&nbsp;</th>
                        <th class="product-name">محصول</th>
                        <th class="product-price">قیمت</th>
                        <th class="product-quantity">تعداد</th>
                        <th class="product-subtotal">جمع</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart %}
                        <tr class="tbody-item">
                            <td class="product-remove">
                                <form action="{% url "cart_remove" item.product_obj.id %}" method="POST">
                                    {% csrf_token %}
                                    <button style="width: 10px;" type="submit" class="remove border-0 bg-transparent">×</button>
                                </form>
                            </td>
                            <td class="product-thumbnail">
                                <div class="thumb">
                                    <a href="{{ item.product_obj.get_absolute_url }}">
                                        <img src="{{ item.product_obj.image.url }}" width="68" height="84" alt="Image-HasTech">
                                    </a>
                                </div>
                            </td>
                            <td class="product-name">
                                <a class="title" href="{{ item.product_obj.get_absolute_url }}">{{ item.product_obj.title }}</a>
                            </td>
                            <td class="product-price">
                                <span class="price">{{ item.product_obj.price|intcomma:False }} تومان</span>
                            </td>
                            <td class="product-quantity">
                                <div class="">
                                    <input type="button" class="quantity border-0 bg-transparent" title="Quantity" value="{{ item.quantity }}">
                                </div>
                            </td>
                            {% comment %} <td class="product-subtotal">
                                <span class="price">115.00 تومان</span>
                            </td> {% endcomment %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="coupon-wrap">
                        <h4 class="title">تخفیف</h4>
                        <p class="desc">اگر کد تخفیف خود را دارید وارد کنید.</p>
                        <input type="text" class="form-control" placeholder="کد تخفیف">
                        <button type="button" class="btn-coupon">درخواست تخفیف</button>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="cart-totals-wrap">
                        <h2 class="title">مجموع سبد خرید</h2>
                        <table>
                            <tbody>
                            <tr class="cart-subtotal">
                                <th>جمع کل</th>
                                <td>
                                    <span class="amount">{{ cart.get_total_price|intcomma:False }} تومان</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="text-end">
                            <a href="{% url "checkout" %}" class="checkout-button">برای تسویه حساب اقدام کنید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Product Area Wrapper ==-->
</main>
{% endblock _body_ %}