{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}فرایند خرید{% endblock title %}
{% block _body_ %}
<main class="main-content">

    <!--== Start Page Header Area Wrapper ==-->
    <nav aria-label="breadcrumb" class="breadcrumb-style1">
        <div class="container">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url "index" %}">صفحه اصلی</a></li>
                <li class="breadcrumb-item active" aria-current="page">پرداخت</li>
            </ol>
        </div>
    </nav>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Shopping Checkout Area Wrapper ==-->
    <section class="shopping-checkout-wrap section-space">
        <div class="container">
            <div class="checkout-page-coupon-wrap">
                <!--== Start Checkout Coupon Accordion ==-->
                <div class="coupon-accordion" id="CouponAccordion">
                    <div class="card">
                        <h3>
                            <i class="fa fa-info-circle"></i>
                            تخفیف دارید؟
                            <a href="#/" data-bs-toggle="collapse" data-bs-target="#couponaccordion">برای وارد کردن کد خود اینجا را کلیک کنید</a>
                        </h3>
                        <div id="couponaccordion" class="collapse" data-bs-parent="#CouponAccordion">
                            <div class="card-body">
                                <div class="apply-coupon-wrap">
                                    <p>اگر کد تخفیف دارید، لطفاً آن را در زیر اعمال کنید.</p>
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Coupon code">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" class="btn-coupon">درخواست کوپن</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--== End Checkout Coupon Accordion ==-->
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--== Start Billing Accordion ==-->
                    <div class="checkout-billing-details-wrap">
                        <h2 class="title">جزئیات صورتحساب</h2>
                        <div class="billing-form-wrap">
                            <form action="" method="POST">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="f_name">نام کوچک <abbr class="required" title="required">*</abbr></label>
                                            <input name="first_name" id="f_name" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="l_name">نام خانوادگی <abbr class="required" title="required">*</abbr></label>
                                            <input name="last_name" id="l_name" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="street-address">آدرس خیابان<abbr class="required" title="required">*</abbr></label>
                                            <input name="address" id="street-address" type="text" class="form-control" placeholder="شماره خانه و نام خیابان">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="town">شهر / استان
                                                <abbr class="required" title="required">*</abbr></label>
                                            <input name="city" id="town" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">

                                            <label for="pz-code">کد پستی<abbr class="required" title="required">*</abbr></label>
                                            <input name="code" id="pz-code" type="text" class="form-control">
                                        </div>
                                    </div>
                                    {% comment %} <div id="CheckoutBillingAccordion2" class="col-md-12">
                                        <div id="CheckoutTwo" class="collapse" data-bs-parent="#CheckoutBillingAccordion2">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="f_name2">نام کوچک <abbr class="required" title="required">*</abbr></label>
                                                        <input name="" id="f_name2" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="l_name2">نام خانوادگی <abbr class="required" title="required">*</abbr></label>
                                                        <input id="l_name2" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="street-address2-3">آدرس خیابان <abbr class="required" title="required">*</abbr></label>
                                                        <input id="street-address2-3" type="text" class="form-control" placeholder="شماره خانه و نام خیابان">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="town3">شهر / استان <abbr class="required" title="required">*</abbr></label>
                                                        <input id="town3" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="pz-code">کد پستی<abbr class="required" title="required">*</abbr></label>
                                                        <input id="pz-code2" type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> {% endcomment %}
                                    <div class="col-md-12">
                                        <div class="form-group mb-0">
                                            <label for="order-notes">یادداشت (اختیاری)</label>
                                            <textarea name="" id="order-notes" class="form-control" placeholder="نکاتی در مورد سفارش شما، به عنوان مثال یادداشت های ویژه برای تحویل"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--== End Billing Accordion ==-->
                </div>
                <div class="col-lg-6">
                    <!--== Start Order Details Accordion ==-->
                    <div class="checkout-order-details-wrap">
                        <div class="order-details-table-wrap table-responsive">
                            <h2 class="title mb-25">سفارش شما</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="product-name">محصول</th>
                                    <th class="product-total">جمع</th>
                                </tr>
                                </thead>
                                <tbody class="table-body">
                                {% for item in cart %}
                                <tr class="cart-item">
                                    <td class="product-name"> {{ item.product_obj.title }} <span class="product-quantity">× {{ item.quantity }}</span></td>
                                    <td class="product-total">{{ item.product_obj.price|intcomma:False }} تومان</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot class="table-foot">
                                {% comment %} <tr class="shipping">
                                    <th>ارسال از طریق پست</th>
                                    <td>نرخ ثابت: ۴۰۰۰۰ تومان</td>
                                </tr> {% endcomment %}
                                <tr class="order-total">
                                    <th>جمع </th>
                                    <td>{{ cart.get_total_price|intcomma:False }} تومان</td>
                                </tr>
                                </tfoot>
                            </table>
                            <div class="shop-payment-method">
                                <div id="PaymentMethodAccordion">
                                    <div class="card">
                                        <div class="card-header" id="check_payments">
                                            <h5 class="title" data-bs-toggle="collapse" data-bs-target="#itemOne" aria-controls="itemOne" aria-expanded="true">انتقال مستقیم بانکی</h5>
                                        </div>
                                        <div id="itemOne" class="collapse show" aria-labelledby="check_payments" data-bs-parent="#PaymentMethodAccordion">
                                            <div class="card-body">
                                                <p>پرداخت خود را مستقیماً به حساب بانکی ما انجام دهید. لطفا از شناسه سفارش خود به عنوان مرجع پرداخت استفاده کنید. سفارش شما تا زمانی که وجوه در حساب ما تسویه نشده باشد ارسال نخواهد شد.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="p-text">اطلاعات شخصی شما برای پردازش سفارش شما، پشتیبانی از تجربه شما در سراسر این وب سایت و برای اهداف دیگری که در ما توضیح داده شده است، استفاده خواهد شد <a href="#/">سیاست حفظ حریم خصوصی.</a></p>
                                <div class="agree-policy">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="privacy" class="custom-control-input visually-hidden">
                                        <label for="privacy" class="custom-control-label">من شرایط و ضوابط وب سایت را خوانده ام و با آن موافقم <span class="required">*</span></label>
                                    </div>
                                </div>
                                <a href="" class="btn-place-order">ثبت سفارش</a>
                            </div>
                        </div>
                    </div>
                    <!--== End Order Details Accordion ==-->
                </div>
            </div>
        </div>
    </section>
    <!--== End Shopping Checkout Area Wrapper ==-->
</main>
{% endblock _body_ %}