{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load math_template_tags %}
{% block title %}فرایند خرید{% endblock title %}
{% block _body_ %}
<main class="main-content">

    <!--== Start Page Header Area Wrapper ==-->
    <nav aria-label="breadcrumb" class="breadcrumb-style1">
        <div class="container">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url "index" %}">صفحه اصلی</a></li>
                <li class="breadcrumb-item active" aria-current="page">پرداخت</li>
            </ol>
        </div>
    </nav>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Shopping Checkout Area Wrapper ==-->
    <section class="shopping-checkout-wrap section-space">
        <div class="container">
            <div class="checkout-page-coupon-wrap">
                <!--== Start Checkout Coupon Accordion ==-->
                <div class="coupon-accordion" id="CouponAccordion">
                    <div class="card">
                        <h3>
                            <i class="fa fa-info-circle"></i>
                            تخفیف دارید؟
                            <a href="#/" data-bs-toggle="collapse" data-bs-target="#couponaccordion">برای وارد کردن کد خود اینجا را کلیک کنید</a>
                        </h3>
                        <div id="couponaccordion" class="collapse" data-bs-parent="#CouponAccordion">
                            <div class="card-body">
                                <div class="apply-coupon-wrap">
                                    <p>اگر کد تخفیف دارید، لطفاً آن را در زیر اعمال کنید.</p>
                                    <form action="{% url "checkout" %}" method="GET">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input name="coupon_code" class="form-control" type="text" placeholder="کد تخفیف">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="submit" class="btn-coupon">درخواست تخفیف</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--== End Checkout Coupon Accordion ==-->
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--== Start Billing Accordion ==-->
                    <div class="checkout-billing-details-wrap">
                        <h2 class="title">جزئیات صورتحساب</h2>
                        <div class="billing-form-wrap">
                            <form action="{% url "checkout" %}" method="POST" id="checkout_form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="f_name">نام کوچک <abbr class="required" title="required">*</abbr></label>
                                            <input name="first_name" id="f_name" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="l_name">نام خانوادگی <abbr class="required" title="required">*</abbr></label>
                                            <input name="last_name" id="l_name" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="street-address">آدرس خیابان<abbr class="required" title="required">*</abbr></label>
                                            <input name="address" id="street-address" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="town">شهر / استان
                                                <abbr class="required" title="required">*</abbr></label>
                                            <input name="city" id="town" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="pz-code">کد پستی<abbr class="required" title="required">*</abbr></label>
                                            <input name="code" id="pz-code" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-0">
                                            <label for="order-notes">یادداشت (اختیاری)</label>
                                            <textarea name="note" id="order-notes" class="form-control" placeholder="نکاتی در مورد سفارش شما، به عنوان مثال یادداشت های ویژه برای تحویل"></textarea>
                                        </div>
                                    </div>
                                </div>
                                {% comment %} <button type="submit" class="btn-place-order">ثبت سفارش</button> {% endcomment %}
                            </form>
                        </div>
                    </div>
                    <!--== End Billing Accordion ==-->
                </div>
                <div class="col-lg-6">
                    <!--== Start Order Details Accordion ==-->
                    <div class="checkout-order-details-wrap">
                        <div class="order-details-table-wrap table-responsive">
                            <h2 class="title mb-25">سفارش شما</h2>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="product-name">محصول</th>
                                    <th class="product-total">قیمت</th>
                                </tr>
                                </thead>
                                <tbody class="table-body">
                                {% for item in cart %}
                                <tr class="cart-item">
                                    <td class="product-name"> {{ item.product_obj.title }} <span class="product-quantity">× {{ item.quantity }}</span></td>
                                    <td class="product-total">{{ item.product_obj.price|intcomma:False }} تومان</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot class="table-foot">
                                {% comment %} <tr class="shipping">
                                    <th>ارسال از طریق پست</th>
                                    <td>نرخ ثابت: ۴۰۰۰۰ تومان</td>
                                </tr> {% endcomment %}
                                {% if discount_amount %}
                                <tr class="order-total">
                                    <th>مقدار تخفیف</th>
                                    <td>{{ discount_amount|multiply:-1|intcomma:False }} تومان</td>
                                </tr>
                                {% endif %}
                                <tr class="order-total">
                                    <th>جمع کل</th>
                                    {% if discount_amount %}
                                    <td>{{ cart.get_total_price|add:discount_amount|intcomma:False }} تومان</td>
                                    {% else %}
                                    <td>{{ cart.get_total_price|intcomma:False }} تومان</td>
                                    {% endif %}
                                </tr>
                                </tfoot>
                            </table>
                            <div class="shop-payment-method">
                                <div id="PaymentMethodAccordion">
                                    <div class="card">
                                        <div class="card-header" id="check_payments">
                                            <h5 class="title" data-bs-toggle="collapse" data-bs-target="#itemOne" aria-controls="itemOne" aria-expanded="true">انتقال مستقیم بانکی</h5>
                                        </div>
                                        <div id="itemOne" class="collapse show" aria-labelledby="check_payments" data-bs-parent="#PaymentMethodAccordion">
                                            <div class="card-body">
                                                <p>پرداخت خود را مستقیماً به حساب بانکی ما انجام دهید. لطفا از شناسه سفارش خود به عنوان مرجع پرداخت استفاده کنید. سفارش شما تا زمانی که وجوه در حساب ما تسویه نشده باشد ارسال نخواهد شد.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="p-text">اطلاعات شخصی شما برای پردازش سفارش شما، پشتیبانی از تجربه شما در سراسر این وب سایت و برای اهداف دیگری که در ما توضیح داده شده است، استفاده خواهد شد <a href="#/">سیاست حفظ حریم خصوصی.</a></p>
                                <button form="checkout_form" type="submit" class="btn-place-order">ثبت سفارش</button>
                            </div>
                        </div>
                    </div>
                    <!--== End Order Details Accordion ==-->
                </div>
            </div>
        </div>
    </section>
    <!--== End Shopping Checkout Area Wrapper ==-->
</main>
{% endblock _body_ %}